.input{
    width: 80%;
    height: 20px;
    border: none;
    background-color: transparent;
    font-size: 1.125rem;
    font-family: var(--font);
    letter-spacing: -0.25px;
}

.input.light{
    color: #393A4B;
}

.input.dark{
    color: #C8CBE7;
}

.input.light::placeholder{
    color: #9495A5;
}

.input.dark::placeholder{
    color: #767992;
}

.input:focus{
    outline: none;
}


@media(max-width: 600px){
    .input {
        font-size: 0.75rem;
        letter-spacing: -0.01044rem;
    }
}