.filterbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    height: 50px;
}

.filterbar.light{
    background-color: white;
}

.filterbar.dark{
    background-color: #25273D;
}

.itemsLeft{
    font-size: 14px;
    font-family: var(--font);
    letter-spacing: -0.194px;
}

.itemsLeft.light {
    color: #9495A5
}

.itemsLeft.dark{
    color: #5B5E7E;
}

.filterOptions{
    display: flex;
    gap: 19px; 
}

.filterOption{
    font-size: 14px;
    font-family: var(--font);
    font-weight: 700;
    letter-spacing: -0.194px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filterOption.light {
    color: #9495A5
}

.filterOption.light:hover{
    color: #494C6B;
}

.filterOption.dark {
    color: #5B5E7E;
}

.filterOption.dark:hover{
    color: #E3E4F1;
}

.clearCompleted{
    font-size: 0.875rem;
    font-family: var(--font);
    letter-spacing: -0.194px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.clearCompleted.light{
    color: #9495A5;
}

.clearCompleted.light:hover{
    color: #494C6B;
}

.clearCompleted.dark{
    color:  #5B5E7E;
}
.clearCompleted.dark:hover{
    color: #E3E4F1;
}