.container{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media(max-width: 600px){
    .container{
        top: 48px;
        width: 90%;
        gap: 16px;
    }
}