.container{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
}

.container.light{
    background-color: #FFFFFF;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
}

.container.dark{
    background-color: #25273D;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
}

.todoContainer{
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    min-height: 63px;
    padding: 0px 24px;
}


.todoContainer.light {
    border-bottom: 1px solid #E3E4F1;
}

.todoContainer.dark {
    border-bottom: 1px solid #393A4B;
}

.checkBoxContainer{
    position: relative;
    display: block;
    border-radius: 100%;
    overflow: hidden;
}

.checkBoxContainer.light{
    border: 2px solid #E3E4F1;
}

.checkBoxContainer.dark{
    border: 2px solid #393A4B;
}

.checkBoxContainer:hover:not(.checkBoxContainer > .checkBox:checked){
    border-color: transparent;
    background: linear-gradient(90deg, rgba(85,221,255,1) 0%, rgba(192,88,243,1) 66%); 
}

.checkBox{
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.checkBox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
}

.checkBox.light::after{
    background-color: white;
}


.checkBox.dark::after{
    background-color: #25273D;
}

.checkMark{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 25px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.checkBox:checked ~ .checkMark{
    display: block;
}

.todo{
    font-size: 1.125rem;
    font-family: var(--font);
    letter-spacing: -0.25px;
}

.todo.light{
    color: #494C6B;
}

.todo.dark {
    color: #C8CBE7;
}

.closeIcon {
    width: 18px;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 24px;
    cursor: pointer;
}